{#
/**
 * @file
 * Custom theme implementation for a 'checkboxes' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_checkboxes()
 *
 * @ingroup themeable
 */

 This is a copy of core/modules/system/templates/checkboxes.html.twig with the <div> container removed
#}
{{ children }}
